[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
sphinx = "*"
pygments = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
