{% from "rings/utils.html" import render_flashed_message %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ rings.load_css() }}
        {% endblock %}

        <title>
            {% block title %}Your page title{% endblock %}
        </title>
        {% endblock %}
    </head>
    <body>
        {% block flashed_messages %}
            {% for message in get_flashed_messages(with_categories=True) %}
                {% if message[0] != 'message' and message[0] %}
                    {% set category = message[0] %}
                {% else %}
                    {% set category = 'info' %}
                {% endif %}
                {{ render_flashed_message(message[1], category) }}
            {% endfor %}
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
